.load-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes load-circle-kf {
  100% {
    transform: scale(1.3);
  }
}

.load-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 10px solid #1abc9c;
  border-radius: 50%;
  animation: load-circle-kf 1s ease-in-out infinite alternate;
}

@keyframes load-square-kf {
  100% {
    border-width: 30px;
    transform: rotate(180deg);
  }
}

.load-square {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 10px solid #e67e22;
  animation: load-square-kf 1s ease-in-out infinite alternate;
}
