.contact {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../assets/bg/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

.contact-content {
  padding: 150px 20% 0 20%;
  display: flex;
}

.contact-content-box {
  width: 100%;
  padding: 40px 80px;
  border-radius: 18px;
  box-sizing: border-box;
  background-color: #34495e;
  z-index: 1;
}
