.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8;
  text-align: center;
}

.description {
  width: 400px;
}

.home-loading {
  position: fixed;
  top: 99%;
  left: 0;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  background-color: #16a085;
  animation: home-loading 2s ease-in infinite alternate-reverse;
}

@keyframes home-loading {
  30% {
    background-color: #2980b9;
  }
  60% {
    background-color: #8e44ad;
  }
}

.float-left {
  position: fixed;
  left: -100px;
  bottom: 5%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 1;
  animation: slide 1s ease-in 1s forwards;
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.float-line {
  background-color: #00ae2c;
  display: inline-block;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.float-line:hover {
  padding-left: 30px;
}

.float-line-icon {
  color: #fefefe;
  background-color: #00ae2c;
}

.float-github {
  background-color: #4e545a;
  display: inline-block;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.float-github-icon {
  color: #fefefe;
  background-color: #4e545a;
}

.float-github:hover {
  padding-left: 30px;
}

.float-gmail {
  background-color: #c2392a;
  display: inline-block;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.float-gmail:hover {
  padding-left: 30px;
}

.float-gmail-icon {
  color: #fefefe;
  background-color: #c2392a;
}
