.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 10px solid #1abc9c;
  border-radius: 50%;
  animation: circle 1s ease-in-out infinite alternate;
}

@keyframes circle {
  100% {
    transform: scale(1.3);
  }
}

.square {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 10px solid #e67e22;
  animation: square 1s ease-in-out infinite alternate;
}

@keyframes square {
  100% {
    border-width: 30px;
    transform: rotate(180deg);
  }
}
