@media (max-width: 1200px) {
  .portfolio {
    padding: 100px 10%;
    height: auto;
  }

  .contact-content {
    padding: 150px 5% 0 5%;
  }

  .contact-content-box {
    padding: 90px 30px;
  }
}
